
@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (min-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (min-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

$opensans: 'Open Sans',
sans-serif;
$blue: #3498db;
$blue--hover: #2980b9;
$cloud: #ecf0f1;
$cloud--hover: #bdc3c7;
$transition: all 146ms ease;
$shadow: 0 30px 60px -30px rgba(0, 0, 0, .5);
$radius: 3px;
html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(https://www.anjoubleucommunaute.fr/medias/2021/06/Repondre-appel-offres-public-quelles-differences-secteur-prive-F.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    display: flex;
    justify-content: center;
}

h1 {
    font-weight: 300;
}

main {
    align-self: center;
    background-color: #fefefe;
    border: 1px solid #f2f2f2;
    border-radius: $radius;
    box-shadow: $shadow;
    min-width: 350px;
    max-width: 450px;
    width: 40vw;
    padding: 2rem;

    .form-buttons {
        display: flex;
        justify-content: flex-end;
        padding: 1em 0 0 0;

        button {
            margin-left: 16px;
        }
    }
}

.form-field {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .5em;
    &:last-child {
        margin-bottom: 0;
    }
    .icon {
        align-self: center;
        fill: #2980b9;
        padding: .5em .5em;
    }
    label {
        align-self: center;
        flex-shrink: 0;
        flex-basis: 100%;
        width: 100%;
        @include breakpoint(sm) {
            flex-basis: 80px;
            width: 80px;
        }
    }
    > section {
        border: 1px solid #aaa;
        border-radius: $radius;
        display: flex;
        flex: 1;
        input {
            border: 0;
            border-left: 1px solid #ccc;
            flex-grow: 1;
            font-size: 1.1rem;
            font-weight: 300;
            padding: .35em .5em;
        }
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.a-btn {
    padding: .35em 1em;
    box-shadow: $shadow;
    cursor: pointer;
    border: 1px solid $blue;
    background-color: #fff;
    transition: $transition;
    font-size: 1.2rem;
    border-radius: $radius;
    color: $blue;
    &:enabled:hover {
        background-color: $blue;
        color: #fff;
        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .3);
    }
    &--filled {
        @extend .a-btn;
        background-color: $blue;
        border-color: $blue;
        color: #fff;
        &:enabled:hover {
            background-color: $blue--hover;
            border-color: $blue--hover;
        }
    }
    &:disabled {
        background-color: $cloud;
        border-color: $cloud--hover;
        color: #6a6a6a;
    }
}


/* add a red asterisk after required labels
 without having to include it in the markup */

.label--required:after {
    content: '*';
    color: red;
    margin-left: 5px;
}