<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <title>Ajouter Appel d'offre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style3.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body id="pagetop">
<div class="jumbotron">
    <div class="container text-center">
        <h2>Ajouter appel d'offre</h2>
    </div>
</div>
<div class="container">
    <div class="col-lg-12 well">
        <div class="row">
            <form action="/Ajouter-appel-d-offre" method="post">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label>objet *</label>
                        <input type="text" placeholder="Objet de l'appel d'offre.." class="form-control" name="objet" oninvalid="this.setCustomValidity('inserez objet')" oninput="this.setCustomValidity('')" required>
                    </div>
                    <div class="form-group">
                        <label><b>delai *</b></label>
                        <input type="text" placeholder="delai de l'appel d'offre.." class="form-control" name="delai" oninvalid="this.setCustomValidity('inserez le delai')" oninput="this.setCustomValidity('')" required>
                    </div>
                    <div>
                        <input type="hidden"
                               th:value="${Company.nom}"
                               name="nom" required>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label>Montant *</label>
                            <input type="number"  name="montant" placeholder="Montant en ouguiya" class="form-control" oninvalid="this.setCustomValidity('inserez le montant')" oninput="this.setCustomValidity('')" required>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label>Date de fin *</label>
                            <input type="date" id="date_fin" name="date_fin"  placeholder="" class="form-control" oninvalid="this.setCustomValidity('inserez la date')" oninput="this.setCustomValidity('')" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary">Ajouter</button>
                    <center><h6><span th:text="${erro}"></span></h6></center>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
</div>
    <script>
        date_fin.min = new Date().toISOString().split("T")[0];
    </script>
</body>
</html>