<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/template">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
  <meta charset="utf-8">
  <meta name="author" content="">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="pagetop">
<div class="jumbotron">
  <div class="container text-center">
    <h2>Soumettre la candidatures</h2>
  </div>
</div>
<div class="container">
  <div class="col-lg-12 well">
    <div class="row">
      <form action="/soumettre-la-candidature" method="post">
        <center><h6><span th:text="${Failure}"></span></h6></center>
        <div class="col-sm-12">
          <div class="form-group">
            <label>Nom *</label>
            <input type="text"  placeholder="Nom..." class="form-control" name="nom" oninvalid="this.setCustomValidity('inserez votre nom')"
                   oninput="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label><b>Prenom *</b></label>
            <input type="text"  placeholder="Prenom..." class="form-control" name="prenom" oninvalid="this.setCustomValidity('inserez votre prenom')"
                   oninput="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <label><b>adresse *</b></label>
            <input type="text"  placeholder="adresse..." class="form-control" name="adresse" oninvalid="this.setCustomValidity('inserez votre adresse')"
                   oninput="this.setCustomValidity('')" required>
          </div>
          <div class="form-group">
            <input type="hidden" name="AoId" th:value="${AoId}" required>
          </div>
          <div class="form-group">
            <input type="hidden" name="PId" th:value="${p}" required>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>Email *</label>
              <input type="email"  name="email"  placeholder="Email..." class="form-control" oninvalid="this.setCustomValidity('inserez votre email')"
                     oninput="this.setCustomValidity('')" required>
            </div>
            <div class="col-sm-4 form-group">
              <label>Telephone *</label>
              <input type="tel" name="telephone" pattern="[0-9]{8}" placeholder="Numero de telephone" class="form-control"
                     oninvalid="this.setCustomValidity('inserez votre numero de telephone')" oninput="this.setCustomValidity('')" required>
            </div>
            <div class="col-sm-2 form-group">
            <select name="choix" id="choix" style="padding: 10px; background:#edf2ff; border:none;">
              <option value="Candidat libre">Candidat libre</option>
              <option value="Representant">Representant</option>
            </select>
          </div>
          </div>
          <button type="submit" class="btn btn-lg btn-primary">Suivant</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>