<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style3.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Accueil</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                        <a class="navbar-brand" href="/Deconnecter">Deconnecter</a></li>
            </ul>
        </div>
    </nav>
</head>
<body id="pagetop">
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <br>
        </div>
        <div class="results">
            <form action="/Ajouter-appel-d-offre" method="get">
                <input type="hidden" name="nom" th:value="${company}">
                <button type="submit" name="" value="" >Ajouter appel d'offre </button>
            </form>
        </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0
            col-md-offset-3 col-lg-offset-3 toppad" th:each="Ao : ${companyAos}">
                <div class="panel panel-info">
                    <div class="panel-heading">

                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <!---<div class="col-md-3 col-lg-3 " align="center">
                            <img  src=""
                            class="img-circle img-responsive"> </div>----->
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Objet:</td>
                                        <td><span th:text="${Ao.objet}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Delai:</td>
                                        <td><span th:text="${Ao.delai}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Montant</td>
                                        <td><span th:text="${Ao.montant}"></span></td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td>Date de publication</td>
                                        <td><span th:text="${Ao.date_pub}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Date de fin</td>
                                        <td><span th:text="${Ao.date_fin}"></span></td>
                                    </tr>
                                    </tr>
                                    </tbody>
                                </table>
                                <span th:if="${Ao.email_personne != null}">
                    <a th:href="@{infos/{id}(id = ${Ao.id})}" class="btn btn-primary">infos
                </a>
                </span>
                                <span th:if="${Ao.email_personne == null}">
                  <a th:href="@{candidat-d-appel-d-offre/{id}(id = ${Ao.id})}" class="btn btn-primary">
                      Liste de candidats</a>
                                </span>
                            </div>
                    </div>
                        <span th:if="${Ao.email_personne == null}">
                    <div class="panel-footer">
                        <a th:href="@{Editer-appel-d-offre/{id}(id = ${Ao.id})}"
                           data-original-title="Edit this user" data-toggle="tooltip"
                           type="button" class="btn btn-sm btn-warning">
                            <i class="glyphicon glyphicon-edit"></i></a>
                        <a th:href="@{Supprimer-Appel-d-offre/{id}(id = ${Ao.id})}"
                           data-original-title="Remove this user" data-toggle="tooltip"
                           type="button" class="btn btn-sm btn-danger">
                            <i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>