<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connecter</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Accueil</a>
            </div>
        </div>
    </nav>
</head>
<body>
<div class="form">
    <form method="post" action="/login" th:object="${loginRequest}">
        <h2>Login</h2>
        <div class="input-box">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input type="email" name="email" placeholder="Email d'entreprise" oninvalid="this.setCustomValidity('Veuillez remplisseer le champ')" required>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Mot de passe"  oninvalid="this.setCustomValidity('Veuillez remplisseer le champ')" required>
        </div>
        <div class="input-box">
            <input type="submit" name="sign-in" value="Login">
        </div>
        <center><a href="Creer-Compte">Creer une compte pour votre entreprise</a></center>
        <center><h6><span th:text="${Erreur}"></span></h6></center>
    </form>
</div>
</body>

</html>