<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creer votre compte </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Accueil</a>
            </div>
        </div>
    </nav>
</head>
<body>
<div class="form">
    <form method="post" action="/Creer-Compte" th:object="${registreRequest}">

        <div class="input-box">
            <i class="fa fa-bank" aria-hidden="true"></i>
            <input type="text" name="nom" placeholder="Nom d'entreprise" oninvalid="this.setCustomValidity('Email incorrecte')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="input-box">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input type="email" name="email" placeholder="Email d'entreprise" oninvalid="this.setCustomValidity('Email incorrecte')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="input-box">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <input type="tel" name="telephone" placeholder="Telephone d'entreprise" pattern="[0-9]{8}" oninvalid="this.setCustomValidity('Numero de telephone incorrecte')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="input-box">
            <i class="fa fa-location-arrow" aria-hidden="true"></i>
            <input type="text" name="location" placeholder="Lieu" oninvalid="this.setCustomValidity('Veuillez remplisseer le champ')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="input-box">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <input type="text" name="Description" placeholder="Description" oninvalid="this.setCustomValidity('Veuillez remplisseer le champ')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="input-box">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input type="password" name="password" placeholder="Mot de passe"  oninvalid="this.setCustomValidity('Veuillez remplisseer le champ')" oninput="this.setCustomValidity('')" required>
        </div>
        <div class="input-box">
            <input type="submit" name="sign-in" value="Creer">
        </div>
        <center><a href="login">Login</a></center>
        <center><h6><span th:text="${eror}"></span></h6></center>
    </form>
</div>
</body>
</html>