<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style3.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Accueil</a>
            </div>
        </div>
    </nav>
    <br>
</head>
<body id="pagetop">
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <br>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0
            col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Candidat Selectionné</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Date d'attribution:</td>
                                    <td><span th:text="${App.ao.date_att}"></span></td>
                                </tr>
                                <tr>
                                    <td>Nom:</td>
                                    <td><span th:text="${App.personneP.nom}"></span></td>
                                </tr>
                                <tr>
                                    <td>Prenom:</td>
                                    <td><span th:text="${App.personneP.prenom}"></span></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><span th:text="${App.personneP.email}"></span></td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Adresse:</td>
                                    <td><span th:text="${App.personneP.adresse}"></span></td>
                                </tr>
                                <tr>
                                    <td>Telephone:</td>
                                    <td><span th:text="${App.personneP.telephone}"></span></td>
                                </tr>
                                </tr>
                                <span th:if="${App.personneP.R != null}">
                                     <tr>
                                        <td>Denomination:</td>
                                        <td><span th:text="${App.personneP.R.denomination}"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Immatriculation:</td>
                                        <td><span th:text="${App.personneP.R.immatriculation}"></span></td>
                                    </tr>
                                    </tr>
                                    </span>
                                <tr>
                                <tr>
                                    <td>Objet de reference:</td>
                                    <td><span th:text="${App.objet_ref}"></span></td>
                                </tr>
                                <tr>
                                    <td>Montant:</td>
                                    <td><span th:text="${App.montant_ref}"></span></td>
                                </tr>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Entite de reference:</td>
                                    <td><span th:text="${App.entite_ref}"></span></td>
                                </tr>
                                <tr>
                                    <td>Date de reference:</td>
                                    <td><span th:text="${App.date_ref}"></span></td>
                                </tr>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>